.container-responsive{
    padding: 16px 8px 16px 8px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(100%,14rem),1fr));
}

.item{
    margin-bottom: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-content: flex-end;
}


.subtitle{
    padding: 16px 8px 8px 8px;
    color: #448aff;
    font-weight: bold;
}

.tb{
    padding: 16px 8px 16px 8px;
}

.btn-bar{
   justify-items:flex-end ;
}

.btn-round{
    border-radius: 6px;
}

.btn-ctn{
    direction: rtl;
    padding-top: 0px !important;
    padding-right: 16px;
    margin-bottom: 24px !important;
}

